<!DOCTYPE html>
<html lang="fr">

<head>
    {% include('head.html.twig') %}
</head>

<body class="container-fluid m-0 p-0 d-flex flex-column justify-content-between">

    <header class="row d-flex flex-column flex-sm-row align-items-center justify-content-between mt-4 mb-4 ml-4 mr-4">
    {% include('accueil/accueil.header.block.html.twig') %}
    </header>

    <div id="banner" class="mt-4 mb-5 d-none d-md-block" style="height: 30vh"></div>

    <main class="row container-fluid m-0 flex-column align-items-center justify-content-center">
        <section id="content" class="mt-5 d-flex justify-content-center align-items-around flex-column w-100">

        <h3 class="text-white mb-0 mb-lg-4">Nouveautés films:</h3>
                {% include('accueil/accueil.movies.block.html.twig') %}

        <h3 class="text-white mt-5 mb-0 mb-lg-4">Nouveautés séries :</h3>
                {% include('accueil/accueil.series.block.html.twig') %}
            
        </section>
    </main>

    <footer id="footer" class="fixed-bottom row p-3 d-flex align-items-center justify-content-between">
        {% include('footer.block.html.twig') %}
    </footer>

</body>

</html>