nav a{
    text-shadow: 1px -1px 1px black;
    font-family: "Carlito Regular";
    font-size: 1.1em;
}

nav a:hover{
    text-decoration: none;
    color: #d7d7d7 !important;
}

    #search-bar {
        background-color: #1A1D29;
        font-size: 0.8em;
        border: none;
        color: #C4C4C4;
        font-family: "Carlito Regular";
    }

    #searchbar {
        border: 2px solid #808080;
        background-color: #1A1D29;
        padding: 5px 10px 5px 10px;
    }

    #icon {
        color: #C4C4C487;
        font-size: 0.8em;
    }

    #profil{
        padding: 3px;
        width: 35px;
        height: 35px;
    }


    #fav_button {
        background-color: #C8C8C8!important;
        border: 2px solid #9d9d9d;
        width: 50px;
    }

    #play_button {
        background-color: #C8C8C8;
        border: 2px solid #9d9d9d;
        height: 55px;
    }

    h1 {
        font-family: "Carlito Regular";
        color: #dbdbdb;
        font-size: 4.5em;
    }
    main {
        background-size: cover;
        background-repeat: no-repeat;
        height : 70vh;
        align-items: flex-start;
    }