{% block footer %}
    <div id="copyright" class="text-light col-3">
        &copy; 2020 <a href="./index.php">UniStream</a>
    </div>

    <div id="social" class="p-0 col-4 col-sm-3 col-md-2 d-flex justify-content-end">
        <ul class="list-unstyled d-flex col-4 justify-content-between m-0 offset-12">
            <li><a href="https://facebook.com" target="_blank"><i class="fab fa-facebook-f text-white"></i></a></li>
            <li><a href="https://twitter.com" target="_blank"><i class="fab fa-twitter text-white"></i></a></li>
            <li><a href="https://instagram.com" target="_blank"><i class="fab fa-instagram text-white"></i></a></li>
        </ul>
    </div>
{% endblock %}